@import './bootstrap/bootstrap.scss';
@import './login.scss';
@import './complaint.scss';

.page-header {
    display: flex;
    padding: .5rem 0;
    align-items: center;
    .back {
        padding: .8rem 1rem;
        cursor: pointer;
    }
    .content {
    }
}

.pointer {
    cursor: pointer;
}