@import './bootstrap/bootstrap.scss';
@import './login.scss';
@import './complaint.scss';

#app-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.app-header {
    display: flex;
    padding: .5rem 0;
    align-items: center;
    .back {
        padding: .8rem 1rem;
        cursor: pointer;
    }
    .content {
    }
}

.app-content {
    overflow: auto;
    flex: 1;
}

.pointer {
    cursor: pointer;
}